


<mat-drawer-container class="drawer-container" [hasBackdrop]="true">
  <mat-drawer opened="{{sideNavPosition}}" mode="{{sideBarMode()}}">

    <div style="padding-top: 1em">
      <mat-selection-list role="list" [multiple]="false">
        <mat-list-option role="listitem" *ngIf="(isAdmin | async)">
          <a routerLink="/admin-dashboard" routerLinkActive="active">
            Admin Dashboard
          </a>
          <mat-divider></mat-divider>
        </mat-list-option>

        <mat-list-option role="listitem">
          <a routerLink="/shops" routerLinkActive="active">
            Shops
          </a>
        </mat-list-option>

        <mat-divider></mat-divider>
        <mat-list-option role="listitem">
          <a><span>Favorites</span></a>
        </mat-list-option>
      </mat-selection-list>

    </div>

    <div class="filter-container">
      <app-filter-bar></app-filter-bar>
    </div>
  </mat-drawer>

  <mat-drawer-content style="color: whitesmoke; !important;">
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>
