<mat-toolbar class="header-bar" color="accent" role="heading">
    <button mat-icon-button aria-label="Menu">
      <mat-icon (click)="toggleSideNav()">menu</mat-icon>
    </button>
    <span>Local Brands</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="openDialog()">
      <mat-icon *ngIf="!(userConnected$ | async); else userProfileImage">
        <span class="material-icons">
          account_circle
        </span>
      </mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<mat-progress-bar
  color="warn"
  value="50"
  mode="query" *ngIf="isLoading$ | async"></mat-progress-bar>

<ng-template #userProfileImage>
  <img mat-card-avatar class="avatar-image" src="{{(userDetails$ | async)?.picture}}">
</ng-template>
