<mat-grid-list cols="{{breakpoint}}" rowHeight="2:2" (window:resize)="onResize($event)">
  <mat-grid-tile *ngFor="let shop of shops$ | async">

    <div class="content">

      <mat-card style="flex: auto">

        <mat-card-header>
          <mat-card-title>
            {{shop.name}}
          </mat-card-title>
        </mat-card-header>

        <a href="{{shop.url}}" target="_blank">
          <div class="mat-elevation-z4"
               matRipple>
            <img src="{{shop.image}}">
          </div>
        </a>

        <mat-card-content>
          <div>
            <span>Country: </span>{{shop.country}}
          </div>
          <div>
            <span>Merchandise: </span>{{shop.attire_type}}/{{shop.store_type}}
          </div>
        </mat-card-content>

        <mat-card-actions>
          <a mat-raised-button
             color="primary"
             target="_blank"
             href="https://instagram.com/{{shop.social_media.replace('@', '')}}">
            <span>{{shop.social_media_type}}: </span>{{shop.social_media}}
          </a>
        </mat-card-actions>
      </mat-card>

    </div>

  </mat-grid-tile>
</mat-grid-list>




