
span {
  font-weight: bold;
}

.shop_image {
  width: 100%;
  height: auto;
}

.insta_img {
  width: 100%;
  height: auto;
}

.content {
  padding: 16px;
  height: auto;
}

mat-card-content {
  padding-top: 16px;
}
