
span {
  font-weight: bold;
}

.shop_image {
  width: 100%;
  height: auto;
}

.insta_img {
  width: 100%;
  height: auto;
}

.star_icon {
  position: absolute;
  right: 1em;
  top: 2px;
}

.content {
  padding: 16px;
  height: auto;
}

mat-card-content {
  padding-top: 16px;
}
