
<mat-grid-list cols="{{columns}}" rowHeight="1:1.5">
  <mat-grid-tile *ngFor="let shop of allShops$ | async;">

    <div class="content">

      <mat-card>

        <mat-card-header>
          <mat-card-title>
            {{shop.name}}
          </mat-card-title>

          <button class="star_icon" mat-icon-button (click)="toggleFavorite(shop.id)">
            <span class="material-icons" [ngClass]="{ fav_star_icon : (favoriteShops$ | async)?.has(shop.id) }">
              star_rate
            </span>
          </button>

        </mat-card-header>

        <div class="mat-elevation-z4"
             matRipple>
          <a href="{{shop.url}}" target="_blank">
            <img class="shop_image" src="{{shop.image}}">
          </a>
        </div>

        <mat-card-content>
          <div>
            <span>Country: </span>{{shop.country}}
          </div>
          <div>
            <span>Merchandise: </span>{{shop.attire_type}}/{{shop.store_type}}
          </div>
        </mat-card-content>

        <mat-card-actions>
          <a mat-icon-button
             target="_blank"
             href="https://instagram.com/{{shop.social_media_tag.replace('@', '')}}">
            <img class="insta_img" src="../../../assets/images/instagram_icon.png" alt="{{shop.social_media}}">
          </a>
        </mat-card-actions>
      </mat-card>

    </div>

  </mat-grid-tile>
</mat-grid-list>

<mat-paginator [length]="100"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]"
               (page)="pageHandler($event)"
               showFirstLastButtons>
</mat-paginator>




