<mat-grid-list cols="{{columns}}" rowHeight="{{rowFormat}}" (window:resize)="onResize()">
  <mat-grid-tile *ngFor="let shop of filteredShops$ | async">

    <div class="content">

      <mat-card>

        <mat-card-header>
          <mat-card-title>
            {{shop.name}}
          </mat-card-title>
        </mat-card-header>

        <div class="mat-elevation-z4"
             matRipple>
          <a href="{{shop.url}}" target="_blank">
            <img class="shop_image" src="{{shop.image}}">
          </a>
        </div>

        <mat-card-content>
          <div>
            <span>Country: </span>{{shop.country}}
          </div>
          <div>
            <span>Merchandise: </span>{{shop.attire_type}}/{{shop.store_type}}
          </div>
        </mat-card-content>

        <mat-card-actions>
          <a mat-icon-button
             target="_blank"
             href="https://instagram.com/{{shop.social_media_tag.replace('@', '')}}">
            <img class="insta_img" src="../../../assets/images/instagram_icon.png" alt="{{shop.social_media}}">
          </a>
        </mat-card-actions>
      </mat-card>

    </div>

  </mat-grid-tile>
</mat-grid-list>




