<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filter By:
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-chip-list aria-label="Fish selection">
      <mat-chip
        color="{{chipColor.get(chip.active)}}"
        *ngFor="let chip of filterChips$ | async" (click)="toggleFilter(chip)" selected>
        {{chip.type}}
      </mat-chip>
    </mat-chip-list>
  </mat-expansion-panel>
</mat-accordion>
